.theme2-color{
    color: #4154f1;
}
.theme2-bg{
    background-color:#4154f1;
}
.theme3-color{
    color: #012970;
}
.theme3-bg{
    background-color: #012970;
}

.ld.navbar-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}
.ld .nav-item {
    margin-right: 10px;
}

.ld a {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #013289 !important;
    white-space: nowrap;
}

.ld a.active {
    color: #4154f1 !important;
}

.ld a:hover {
    color: #4154f1 !important;
}
.ld h1,.ld h2, .ld h3, .ld h4, .ld h5, .ld h6{
    color: #012970;
    font-weight: bold;
}
.ld p {
    color : #4154f1!important;
}

.hero h1 {
    margin: 0;
    font-size: 40px;
}
.hero {
    width: 100%;
    height: 100vh;
    background: url(../../Assets/img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

.hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}
.hero .btn-get-started span {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
section.ld {
    padding: 25px 0;
    overflow: hidden;
}
.about h2 {
    font-size: 24px;
}
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
}

.ld.features p{
    color: #012970;
    font-weight: bold;
} 
.ld .card-img-top {
    padding: 20px;
    width: 70%;
    margin: auto;
    transform: scale(1.2);
    transition: 0.5s;
}
.ld .card:hover .card-img-top{
    transform: scale(1);
}
.ld .card:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    transition: 0.5s;
}

footer .footer-top{
    background: white url(../../Assets/img/footer-bg.png) no-repeat right top;
    background-size: cover;
}













/* ----------------Media Queries-------------- */
@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}