h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
.theme-bg {
  background: #4338ca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3012b3, #4338ca);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3012b3, #4338ca);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.theme-color {
  color: #4338ca;
}

.light-grey{
  background-color:#80808026;
}

.navbar .dropdown button::before {
  content: none;
}

.navbar a {
  color: white;
}

.tab-pane {
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem darkgray !important;
}

.input-field {
  position: relative;
}

.input-field input,.input-field select {
  display: inline-block;
  border: thin solid #fafafa;
  border-bottom: solid medium #999;
  color: #444;
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
}

.input-field input:focus,
.input-field input:hover,
.input-field input:valid,
.input-field select:focus,
.input-field select:valid,
.input-field select:hover{
  border: thin solid #4338ca !important;
  border-bottom: solid medium #4338cae0 !important;
  background-color: #fff !important;
  box-shadow: 0  0 0.25rem #4438ca81 !important;
}

.input-field input:valid,
.input-field select:valid{
  border: thin solid #49ca38 !important;
  border-bottom: solid medium #239f12c7 !important;
  background-color: #fff !important;
  box-shadow: 0 0 0.25rem #39f320 !important;;
}

.input-field label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 30px;
  top: 30px;
  transition: 0.2s;
}

.input-field input[type="date"]~label{
top: 8px;
left: 35px;
}
.input-field select:valid~label,
.input-field input:valid~label{
  top: 8px;
  left: 35px;
  font-size: small;
  font-weight: bold;
  color: #239f12c7!important;
  background-color: #fff;
  padding: 0 5px 0 5px;
}

.input-field input:hover~label,
.input-field input:focus~label{
  color: #4338cae0;
  top: 8px;
  left: 35px;
  font-size: small;
  font-weight: bold;
  background-color: #fff;
  padding: 0 5px 0 5px;
}

/* ----prev next buttons in createProject---- */
button.form:disabled {
  display: none;
}

/* dynamic table header */
header.TUEFO {
  display: block;
  padding: unset!important;
  min-height: unset!important;
}
.dqmQwT input, .cfdVEr input{
  width: 18px;
  height: 18px;
}
.bMgaAx div:first-child{
  white-space: unset!important;
}
#myTabContent .gyOPpE{
  max-height: 63vh!important;
}
.neomorphism {
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 5px 5px 17px #6e6e6e,
              -5px -5px 17px #ffffff !important;
}

/* -----------Jodit-react editor----------- */
div.jodit-wysiwyg{
  min-height: 55vh!important;
}


/* table style */
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;}